{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
    {% include 'department/search_department.html' %}
   <br/>

    {% for department in departments %}
        <div class="col-md-8 py-4">
            <h1>{{ department.name }}</h1>
            <h3><i>{{ department.date|date:"D d M Y" }}</i></h3>
            <h3><i>{{ department.description|truncatewords:10 }}</i></h3>
        </div>
        <br/>
    {% empty %}
        No Departments.
    {% endfor %}

</body>
</html>