<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>

    <div>
            <h1>
                Department  <strong><a href="{% url 'add_department' %}">Add</a></strong>
            </h1>
            <br/>

    </div>

    {% for department in departments %}
        <div>
            <h1>{{ department.name }}</h1>
            <h3><i>{{ department.date|date:"D d M Y" }}</i></h3>
            <h3><i>{{ department.description|truncatewords:10 }}</i></h3>
        </div>
        <br/>
    {% empty %}

    {% endfor %}

</body>
</html>